.signin-form {
    margin: auto;
    width: 80%;
}
.title {
    margin-top: 1.5rem;
    padding-left: 1rem;
}
.far-left {
    margin-left: auto !important;
}
.far-right {
    margin-right: auto !important;
}
